/*	NOTES:
 *  to fill up the horizontal space, divs need to be in block formatting
 *  context (BFC). overflow: hidden does this.
 *	any display styles stop the div value from being block (taking up)
 *  the rest of the horizontal space. (e.x. display: inline-block)
 *
 *	Color Scheme:
 *  black/letters: 	#1a1a1a		
 *  light gray:		#7f7f7f
 *  orange:			#f53c17
 *	red:			#b92e26		(fail)
 *  green:			#6b9f40		(success)
 */
 
 
 #results {
 	position: absolute;		/*Otherwise table won't format*/
 }
 
 
 #input-form {
 	border-collapse: collapse;
 	
 	width: 1000px;
 	 	
 	padding-left: auto;
 	padding-right: auto;
 }
 
 
 
 		#input-form tr {
 			width: 100px;
 		}
 
 
		 		#input-form td {
		 			border: 3px solid white;
								
					/*setting white, opaque background*/
					background-color: white;
					opacity: 0.75;
					filter: alpha(opacity=75); /*For IE8 and earlier */
					
					padding: 5px 0 5px 10px;
		 		}