/*	NOTES:
 *  to fill up the horizontal space, divs need to be in block formatting
 *  context (BFC). overflow: hidden does this.
 *	any display styles stop the div value from being block (taking up)
 *  the rest of the horizontal space. (e.x. display: inline-block)
 *
 *	Color Scheme:
 *  black/letters: 	#1a1a1a		
 *  light gray:		#7f7f7f
 *  orange:			#f53c17
 *	red:			#b92e26		(fail)
 *  green:			#6b9f40		(success)
 */


.opaque {
	/*setting white, opaque background*/
	background-color: white;
	opacity: 0.75;
	filter: alpha(opacity=75); /*For IE8 and earlier */
}


 #content {
	display: block;
	
	padding: 20px;
	margin-left: 300px;		/* = sidebar width. keeps content from hiding under fixed sidebar*/
	width: auto;
	min-width: 300px;		/*set this as something else later based on content*/
	
	font-family: "Cutive", serif;
	font-size: 15;
	text-align: center;		/*center #settings in its containing div, #content*/
}


table {
	width: 100%;
}


		#title-wrapper {
			display: inline-block;
			
			border-style: solid;
			border-color: white;
			border-width: 3px;
			
			width: 300px;
			
			text-align: center
		}


				#title {
					//display: inline-block;		/*allows #settings to be centered by text-align: center*/
					
					width: 300px;
					padding: 20px 0 20px 0;
					
					font-size: 20;
				}
			
			
		#option-wrapper {
			display: inline-block;
			
			border-style: solid;
			border-color: white;
			border-width: 3px;
			
			width: 80%;
			
			margin-bottom: 20px;
			
			text-align: center
		}
		
				/*this div takes up the whole <tr>, optionally holds other divs*/
				#option {
					overflow: hidden;	/*div stretches to fit wrapper*/
					
					padding: 10px 0 10px 0;
					
					font-size: 15;
				}
		
				/*left and right are used if the tr needs two options in it side by side*/
				#option-left {
					display: block;
					float: left;
					
					width: 48%;
				}
				
				
				#option-right {
					display: block;
				}