@CHARSET "ISO-8859-1";
/*	NOTES:
 *  to fill up the horizontal space, divs need to be in block formatting
 *  context (BFC). overflow: hidden does this.
 *	any display styles stop the div value from being block (taking up)
 *  the rest of the horizontal space. (e.x. display: inline-block)
 *
 *	Color Scheme:
 *  darkest gray: #2A2B2C (text color)
 *  dark gray: #434446
 *  light gray: #BCAEAD
 *  brown: #A27D74
 *  blue: #86ABD7
 */

html body {
	/*put font, color, etc specifications here*/

	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 35;
	font-weight: bold;
	color: white;

	/* diagonal gradient */
	/*background: -webkit-linear-gradient(left top, #BCAEAD 0%, #66676a 7%, #4f5153 9%, #434446 12%); /* For Safari 5.1 to 6.0 */
	/*background: -o-linear-gradient(bottom right, #BCAEAD 0%, #66676a 7%, #4f5153 9%, #434446 12%); /* For Opera 11.1 to 12.0 */
	/*background: -moz-linear-gradient(bottom right, #BCAEAD 0%, #66676a 7%, #4f5153 9%, #434446 12%); /* For Firefox 3.6 to 15 */
	/*background: linear-gradient(to bottom right, #BCAEAD 0%, #66676a 7%, #4f5153 9%, #434446 12%); /* Standard syntax */
	
	/* top-bottom gradient */
	/*background: -webkit-linear-gradient(#BCAEAD 0%, #66676a 7%, #4f5153 9%, #434446 12%); /* For Safari 5.1 to 6.0 */
 	/*background: -o-linear-gradient(#BCAEAD 0%, #66676a 7%, #4f5153 9%, #434446 12%); /* For Opera 11.1 to 12.0 */
  	/*background: -moz-linear-gradient(#BCAEAD 0%, #66676a 7%, #4f5153 9%, #434446 12%); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(#BCAEAD 0%, #66676a 7%, #4f5153 9%, #434446 12%); /* Standard syntax */
}

.top-bar {
	position: relative;
	display: block;
	overflow: hidden;

	/* horizontally center the section */
	margin-left: auto;
	margin-right: auto;
	width: 78%;
	min-width: 1000px;

	height: 130px;
}
	#top-title {
		display: block;
		float: left;

		width: auto;
		height: auto;
	}

	#top-menu {
		position: relative;
		display: block;
		float: right;

		width: auto;
		padding-top: 90px;

		font-size: 14;
	}
		#top-menu ul {
			float: right;
			/*position: relative;*/
			/*overflow: hidden;*/

			padding: 0;
			margin: 0;

			list-style: none;
			font-family: arial;
			font-size: 12;
		}
			#top-menu ul li {
				display: inline-block;

				padding-left: 20px;
			}
				#top-menu ul li a {
					display: block;

					-webkit-transition: all .3s ease-out;

					padding: 5px 5px 5px 5px;
					width: 100px;
					text-align: center;

					-webkit-border-radius: 10px;
					/*-webkit-box-shadow: 2px 2px 4px #888;*/
					border-style: ridge;
					border-width: 3px;
					border-color: white;

					/* top-bottom gradient (brown-white) */
					/*background: -webkit-linear-gradient(white 0%, #BCAEAD 90%); /* For Safari 5.1 to 6.0 */
 					/*background: -o-linear-gradient(white 0%, #BCAEAD 90%); /* For Opera 11.1 to 12.0 */
  					/*background: -moz-linear-gradient(white 0%, #BCAEAD 90%); /* For Firefox 3.6 to 15 */
  					background: linear-gradient(#A27D74 0%, white 90%); /* Standard syntax */
					
					color: #2A2B2C;
					text-decoration: none;
				}

				#top-menu ul li a:hover {

					/* top-bottom gradient (white-brown) */
					/*background: -webkit-linear-gradient(white 0%, #86ABD7 90%); /* For Safari 5.1 to 6.0 */
 					/*background: -o-linear-gradient(white 0%, #86ABD7 90%); /* For Opera 11.1 to 12.0 */
  					/*background: -moz-linear-gradient(white 0%, #86ABD7 90%); /* For Firefox 3.6 to 15 */
  					background: linear-gradient(white 0%, #A27D74 90%); /* Standard syntax */
				}

body table {
	/* position properties */
	display: block;

	/* horizontally center the table */
	margin-left: auto;
	margin-right: auto;
	width: 78%;
	min-width: 1000px;

	/* size properties */
	min-height: 700px;
	height: auto;

	/* space properties */
	padding: 10px;

	/* look properties*/
	background-color: white;
	color: #2A2B2C;
	font-family: arial;
	
}
body table td {
	vertical-align: top;

	font-size: 18;
}

	#left-col {
		width: 15%;
	}
		#left-col ul {
			display: block;
			position: relative;
			float: left;

			padding: 0;
			margin: 0;
			margin-right: -10px; /* when the button moves, it won't push the center-col */
			width: auto;

			/*background: url(shad2.png) no-repeat;
			-webkit-background-size: 50% 100%;*/

			list-style: none;
		}
			#left-col ul li {
				padding-top: 10px;
			}

				#left-col ul li a {
					display: block;

					-webkit-transition: all .3s ease-out;

					padding: 10px 15px 10px 15px;
					width: 100px;

					-webkit-border-top-right-radius: 10px;
					-webkit-border-bottom-right-radius: 10px;
					-webkit-box-shadow: 2px 2px 4px #888;
					border: solid;
					border-width: 1px;
					border-left: none;

					/* top-bottom gradient (white-dark gray) */
					/*background: -webkit-linear-gradient(white 0%, #BCAEAD 90%); /* For Safari 5.1 to 6.0 */
 					/*background: -o-linear-gradient(white 0%, #BCAEAD 90%); /* For Opera 11.1 to 12.0 */
  					/*background: -moz-linear-gradient(white 0%, #BCAEAD 90%); /* For Firefox 3.6 to 15 */
  					background: linear-gradient(white 0%, #BCAEAD 90%); /* Standard syntax */
					
					color: #2A2B2C;
					font-size: 12;
					text-decoration: none;
				}

				#left-col ul li a:hover {

					/* top-bottom gradient (white-blue) */
					/*background: -webkit-linear-gradient(white 0%, #86ABD7 90%); /* For Safari 5.1 to 6.0 */
 					/*background: -o-linear-gradient(white 0%, #86ABD7 90%); /* For Opera 11.1 to 12.0 */
  					/*background: -moz-linear-gradient(white 0%, #86ABD7 90%); /* For Firefox 3.6 to 15 */
  					background: linear-gradient(white 0%, #86ABD7 90%); /* Standard syntax */

					/*background: green url(border.png) no-repeat;*/
					padding: 10px 10px 10px 30px; 
				}

		#hor-gradient {
			z-index: 10;
			position: relative;	/* z-index only works on positioned elements */
			float: left;

			width: 10px;
			height: 110px;

			margin-right: -8px;

			/* left-right gradient (white-darkest gray) */
			/*background: -webkit-linear-gradient(left, red , blue); /* For Safari 5.1 to 6.0 */
  			/*background: -o-linear-gradient(right, red, blue); /* For Opera 11.1 to 12.0 */
  			/*background: -moz-linear-gradient(right, red, blue); /* For Firefox 3.6 to 15 */
 			background: linear-gradient(to right, rgba(67,68,70,1) 5%, rgba(118,109,108,1) 20%, rgba(118,109,108,0) 100%); /* Standard syntax */
		}

	#center-col {
		float: left;
		overflow: hidden;
		width: 48%;
		
		padding: 0;
		/*padding: 0 10px 0 10px;*/
	}
		#center-header {
			font-size: 20;
		}

		#single-user {
			position: relative;
			display: block;
			overflow: hidden;

			padding: 10px 10px 10px 10px;
			margin-bottom: 10px;

			width: auto;
			height: auto;

			background-color: #86ABD7;
			-webkit-border-top-right-radius: 10px;
			-webkit-border-bottom-right-radius: 10px;
			-webkit-border-bottom-left-radius: 10px;
			-webkit-border-top-left-radius: 10px;
		}
			#important-user-info {
				position: relative;
				display: block;
				float: left;

				height: 70px;
				padding: 5px 0 0 5px;

				vertical-align: top;
				font-size: 17;
			}

			#entry-result-success {
				position: relative;
				display: block;
				float: right;

				/* horizontally center the div
				margin-left: auto;
				margin-right: auto; */
				width: 150px;
				height: 70px;

				/* alignment properties*/
				text-align: center;
				margin: 5px 5px 5px 5px;
				
				/* look properties */
				background-color: green;
			}
				#entry-result-success p {
					vertical-align: middle;
					margin-top: 0;
					margin-bottom: 0;
					line-height: 70px;	/*needs to be the same height as #entry-result*/

					/* look properties */
					font-size: 20;
					font-style: italic;
					font-weight: bold;
					color: white;
				}
			#entry-result-failed {
				position: relative;
				display: block;
				float: right;

				/* horizontally center the div
				margin-left: auto;
				margin-right: auto; */
				width: 150px;
				height: 70px;

				/* alignment properties*/
				text-align: center;
				margin: 5px 5px 5px 5px;
				
				/* look properties */
				background-color: red;
			}
				#entry-result-failed p {
					vertical-align: middle;
					margin-top: 0;
					margin-bottom: 0;
					line-height: 70px;	/*needs to be the same height as #entry-result*/

					/* look properties */
					font-size: 20;
					font-style: italic;
					font-weight: bold;
					color: white;
				}

	#right-col {
		width: 15%;

		padding-left: 10px;

		font-size: 12;
	}

.bottom-bar {
	height: 224px;
}