/*	NOTES:
 *  to fill up the horizontal space, divs need to be in block formatting
 *  context (BFC). overflow: hidden does this.
 *	any display styles stop the div value from being block (taking up)
 *  the rest of the horizontal space. (e.x. display: inline-block)
 *
 *	Color Scheme:
 *  orange:			#E0584A
 *  white: 			#FFFFFF
 *  dark blue:		#A8C9D0
 *  light blue:		#E1F5F3
 *  brown: 			#AFA299
 *  black/letters: 	#333333
 */

/*	ISSUES
 *	
 *	#page-content margins don't decrease evenly as page width decreases
 *	the whole #sign-in div disappears once the div overflows
 *	#sign-in wraps when overflowed
 *	don't worry about the blue space above the brown #stream, it's just the #stream-content div
 *	div backgrounds don't extend near the bottom edge for some reason while the divs obviously do.
 */

html {
	overflow-y: auto; /*should be able to scroll left/right to see hidden content*/

	text-align: center; /*centers body div*/
}

body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12;
	font-weight: bold;
	color: #333333;	/*black/letters*/

	margin: 0;

	background-color: blue;
}

#page-wrapper {
	display: inline-block;	/*shrink to fit containing divs*/

	width: 1050px;	/*exact summation of the width of all divs in this div (#page-content + #sign-in = 1050)*/
	margin: 0;

	text-align: left;	/*overwrite html's text-align: center*/

	background-color: purple;
}

#page-content {
	float: left;

	background: #E1F5F3; /*light blue*/

	width: 1000px;
}

#left-bar { 	/*contains #line and #menu*/
	display: block;
	float: left;

	width: 25%;
	min-width: 215px;	/*width of line + width of menu + 2 5px borders*/
}

#line {
	display: block;
	float: left;

	background-color: #E0584A; /*orange*/

	height: 100%;
	width: 5px;
}

#menu {
	display: block;

	background-color: #E1F5F3;	/*light blue*/
	border-style: solid;
	border-color: #A8C9D0;		/*dark blue*/
	border-width: 5px;
	border-top: none;
	border-bottom: none;

	height: 100%;
	width: 200px; /*I know it sounds ridiculously big, but it works*/
	
	margin-left: 5px; /*show left border behind #line*/
}

#logo {
	display: block;

	text-align: center;
	font-size: 35;

	height: 80px; /*100 - padding-top*/
	width: auto;

	padding-top: 20px;
}

#menu-buttons{
	display: block;	

	margin-bottom: 40px;
}
	#menu-buttons ul {

	}
		#menu-buttons ul li{
			list-style: none;
			border-bottom: 1px solid #A8C9D0; /*dark blue*/

			padding-top: 10px;	/*padding-bottom pushes borders down*/
			margin-right: 70px;	/*shorten underline*/

			-webkit-transition: all .3s ease-out;
		}
		#menu-buttons ul li:hover {
			border-bottom: 1px solid #E0584A; /*orange*/

			margin-right: 50px;
			margin-left: 20px;
		}

#menu-divider {
	display: block;

	background-color: #AFA299;	/*brown*/

	height: 1px;
	width: 125px;

	/*center the div*/
	margin-left: auto;
	margin-right: auto;
}

#menu-content {
	display: block;

	margin-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

#stream {

	background-color: #AFA299;	/*brown*/

	height: 100%;
	width: auto;
}

#stream-content {
	
}

#sign-in {	
	float: left;

	text-align: center;

	height: 25px;
	width: 50px;
	margin-top: 10px;
}