/*	NOTES:
 *  to fill up the horizontal space, divs need to be in block formatting
 *  context (BFC). overflow: hidden does this.
 *	any display styles stop the div value from being block (taking up)
 *  the rest of the horizontal space. (e.x. display: inline-block)
 *
 *	Color Scheme:
 *  black/letters: 	#1a1a1a		
 *  light gray:		#7f7f7f
 *  orange:			#f53c17
 *	red:			#b92e26		(fail)
 *  green:			#6b9f40		(success)
 */
 
 
#settings {
	display: inline-block;
	margin-bottom: 40px;
}


		#choose-event {
			width: 100%;
		}